@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-magnolia: #f8f0fb;
  --color-eblack: #191919;
  --color-onyx: #404040;
}

/* GLOBAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cursor-pointer {
  cursor: pointer;
}
li{
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
   from {bottom: -300px; opacity: 0} 
   to {bottom: 0; opacity: 1}
}
  
@keyframes slideIn {
   from {bottom: -300px; opacity: 0}
   to {bottom: 0; opacity: 1}
}
  
@-webkit-keyframes fadeIn {
   from {opacity: 0} 
   to {opacity: 1}
}
  
@keyframes fadeIn {
   from {opacity: 0} 
   to {opacity: 1}
}

body {
  background-color: var(--color-eblack);
  height: 100vh;
  font-family: "Poppins";
}

/* NAVIGATION BAR STYLE*/
nav {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-logo{
  color: var(--color-magnolia);
  font-size: 1.5rem;
  font-style: bold;
}
.nav-links ul{
  display: inline-flex;
}
.nav-links ul li{
  margin: 0 15px;
}
.nav-links ul li a{
  display: inline-block;
  padding: 10px 20px;
}
.nav-links ul li a:not(.nav-links-github):hover{
    color: var(--color-onyx);
}
.nav-links-github{
  background-color: var(--color-magnolia);
  color: var(--color-eblack);
  padding: 10px 20px;
  border-radius: 50px;
  transition: 0.3 ease-in;
}
.nav-links-github:hover{
  background-color: var(--color-onyx);
  color: var(--color-magnolia);
}

/* MAIN SECTION STYLE*/
main {
  max-width: 800px;
  margin: 30px auto;
  text-align: center;
}
#title-heading {
  font-size: 3rem;
  padding-top: 4rem;
  color: var(--color-magnolia);
}
#title-heading span{
  background-color: var(--color-onyx);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  padding: 0 10px;
}
.title-sub-heading{
  font-size: 0.9rem;
  color: var(--color-magnolia);
}

#search-bar-field {
  width: 80%;
  height: 50px;
  background-color: var(--color-magnolia);
  border-radius: 5px 0 0 5px;
  padding: 5px;
  font-size: 15px;
  outline: none;
  margin-top: 20px;
}
.search-bar {
  position: relative;
  width: 100%;
}
.search-bar-container{
  display: flex;
  width: 100%;
}
.search-bar input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.autocomplete-suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--color-magnolia);
  border: none;
  border-radius: 5px;
  text-align: left;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}
.autocomplete-suggestions div {
  padding: 10px;
  cursor: pointer;
}
.autocomplete-suggestions div:hover {
  background-color: var(--color-onyx);
  color: var(--color-magnolia);
}
#search-button {
  width: 20%;
  height: 50px;
  font-size: 15px;
  background-color: var(--color-onyx);
  border: none;
  color: white;
  border-radius: 0 5px 5px 0;
  margin-top: 20px;
}
#search-button:hover {
  background-color: var(--color-magnolia);
  color: var(--color-eblack);
  transition: 0.3s ease-in;
}

.trending-container{
  display: flex;
  justify-content: space-evenly;
  color: var(--color-magnolia);
  font-size: 0.9rem;
  margin-top: 20px;
}
.trending-container span{
  background-color: var(--color-onyx);
  padding: 2px 5px;
  border-radius: 5px;
}

/* Scroller Animation*/
.scroller{
  margin-top: 50px;
  width: 100%;
}
.scroller_inner{
  padding-block: 1rem;
  display: flex;
  gap: 2rem;
}
.scroller_inner img{
  width: 300px;
  height: 350px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}

.scroller[data-animated="true"]{
  overflow: hidden;
}
.scroller[data-animated="true"] .scroller_inner{
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
}

@keyframes scroll{
  to{
    transform: translate(calc(-50% - 1rem));
  }
}

/* ACCESSORIES SECTION STYLE -HIDDEN -VISIBLE*/
.accessories-section {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}
.accessories-section-content{
  position: fixed;
  bottom: 0;
  background-color: var(--color-eblack);
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}
.accessories-section-heading,
.accessories-section-link {
  background-color: var(--color-onyx);
  color: var(--color-magnolia);
  border-top: none;
  padding: 5px;
}
.accessories-section-link{
    text-align: center;
}
.accessories-section-heading {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.accessories-close-button {
  padding: 2px 10px;
  border-radius: 5px;
}
.accessories-section-link:hover {
  background-color: var(--color-magnolia);
  color: var(--color-eblack);
  transition: 0.3s ease;
}
.accessories-section-bulletin {
  margin: 10px 30px;
  text-align: left;
  color: var(--color-magnolia);
}
.accessories-section-bulletin ul li {
  display: inline-block;
  width: 30%;
}
.accessories-section-bulletin ul li::before {
  content: "◦";
  position: relative;
  font-size: 1.3rem;
  font-weight: bold;
  top: 1px;
  left: -3px;
}
